html{
	position:relative;
}
body{
	font-family:Georgia;
	color:#000;
}
.filter{
	padding:20px;
}
.filter h3{
	text-align:center;
	font-size:0.9em;
	color:#ccc;
	margin:0;
	padding:0;
}
.filter ul{
	list-style:none;
	display:block;
	width:100%;
	text-align:center;
	margin:0;
	padding:0;
}
.filter li{
	display:inline;
}
.filter a{
	display:inline-block;
	padding:10px 5px;
	color:#000;
}
.filter a[data-toggle="on"]{
	background:#ccc;
}
h1,h2,h3,h4,h5,.uppercase{
	text-transform: uppercase;
}
header{
	text-align:center;
	-webkit-transition: all 1.2s ease; /* Safari and Chrome */
  	-moz-transition: all 1.2s ease; /* Firefox */
  	-o-transition: all 1.2s ease; /* IE 9 */
  	-ms-transition: all 1.2s ease; /* Opera */
  	transition: all 1.2s ease;
  	border-top:1px solid #000;
  	border-bottom:1px solid #000;
  	padding-bottom:1%;
}
nav{
	-webkit-transition: max-height 0.5s ease; /* Safari and Chrome */
  	-moz-transition: max-height 0.5s ease; /* Firefox */
  	-o-transition: max-height 0.5s ease; /* IE 9 */
  	-ms-transition: max-height 0.5s ease; /* Opera */
  	transition: max-height 0.5s ease;
	background:#fdfdfd;
	overflow:hidden;
}

.menu-toggle { position: absolute; left: 1%; top: 20px; }

.menu-toggle { cursor: pointer; padding: 0px 26px 12px 0px; }
.menu-toggle span, .menu-toggle span:before, .menu-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 26px;
  background: #000;
  position: absolute;
  display: block;
  content: '';
}

.device-menu{
	position:relative;
	display:none;
}

.menu-toggle span:before {
  top: -7px; 
}
.menu-toggle span:after {
  bottom: -7px;
}

.menu-toggle span, .menu-toggle span:before, .menu-toggle span:after {
  transition: all 500ms ease-in-out;
}
.menu-toggle.active span {
  background-color: transparent;
}
.menu-toggle.active span:before, .menu-toggle.active span:after {
  top: 0;
}
.menu-toggle.active span:before {
  transform: rotate(45deg);
}
.menu-toggle.active span:after {
  transform: rotate(-45deg);
}

footer{
	-webkit-transition: all 0.5s ease; /* Safari and Chrome */
  	-moz-transition: all 0.5s ease; /* Firefox */
  	-o-transition: all 0.5s ease; /* IE 9 */
  	-ms-transition: all 0.5s ease; /* Opera */
  	transition: all 0.5s ease;
	border-top:1px solid #000;
	background:#fff;
	padding-top:25px;
	padding-bottom:25px;
}
footer img{
	width:100px;
	height:100px;
	background:#ccc;
}
footer span{
	display:block;
	line-height:2em;

}
.cancer-sutra{
	padding-top:2%;
	overflow:hidden;
	-webkit-transition: all 0.5s ease; /* Safari and Chrome */
  	-moz-transition: all 0.5s ease; /* Firefox */
  	-o-transition: all 0.5s ease; /* IE 9 */
  	-ms-transition: all 0.5s ease; /* Opera */
  	transition: all 0.5s ease;
}
.cancer-sutra > div{
	width:25%;
	height:auto;
}
.cancer-sutra > div > img{
	width:100%;
	height:auto;
	-webkit-transition: all 0.2s ease; /* Safari and Chrome */
  	-moz-transition: all 0.2s ease; /* Firefox */
  	-o-transition: all 0.2s ease; /* IE 9 */
  	-ms-transition: all 0.2s ease; /* Opera */
  	transition: all 0.2s ease;
  	cursor:pointer;
}
.cancer-sutra .detail{
	display:none;
}
/*.cancer-sutra > div:hover img {
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
     transform:scale(1.1);
}*/
.cancer-sutra > div:hover{
	z-index:100;
}

.intro header{
	/*margin-top:100px;*/
}
.intro nav{
	opacity:0;
}
.intro footer{
	opacity:0;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.opacity0{
	opacity:0;
}

@media (max-width:768px){
	.filter ul li,.filter ul li a{
		display:block;
	}
	.filter,footer{
		text-align:center;
	}
	.detail-image{
		display:none;
	}
	[data-position="1"] .detail-text::after{background-image:url(../positions/gif/1.gif);}
	[data-position="2"] .detail-text::after{background-image:url(../positions/gif/2.gif);}
	[data-position="3"] .detail-text::after{background-image:url(../positions/gif/3.gif);}
	[data-position="4"] .detail-text::after{background-image:url(../positions/gif/4.gif);}
	[data-position="5"] .detail-text::after{background-image:url(../positions/gif/5.gif);}
	[data-position="6"] .detail-text::after{background-image:url(../positions/gif/6.gif);}
	[data-position="7"] .detail-text::after{background-image:url(../positions/gif/7.gif);}
	[data-position="8"] .detail-text::after{background-image:url(../positions/gif/8.gif);}
	[data-position="9"] .detail-text::after{background-image:url(../positions/gif/9.gif);}
	[data-position="10"] .detail-text::after{background-image:url(../positions/gif/10.gif);}
	[data-position="11"] .detail-text::after{background-image:url(../positions/gif/11.gif);}
	[data-position="12"] .detail-text::after{background-image:url(../positions/gif/12.gif);}

	.cancer-sutra > div{
		width:50%;
	}
}
@media (min-width:768px) and (max-width:1200px){
	.cancer-sutra > div{
		width:33%;
	}
}
@media (min-width:768px) and (max-width:990px){
	.cancer-sutra > div{
		width:50%;
	}
}
@media (max-width:990px){
	.device-menu{
		display:block;
		height:45px;
	}
	nav{
		/*max-height:0;*/
		display:none;
	}
	nav.open{
		/*max-height:400px;*/
	}
	.filter{
		padding:0;
	}
	.filter h3{
		padding:0 0 5px 0;
	}
	.filter ul{
		margin-top:10px;
	}
	.filter li{
		border-top:1px solid #000;
	}
	.filter li:last-child{
		border-bottom:1px solid #000;
	}
	.filter:last-child{
		padding-top:15px;
	}
}

.fancybox-skin{
	border-radius:0;
	border:1px solid #000;
	color:#000;
}
.fancybox-close{
	background-image:none;
	top:0;
	right:0;
}
.fancybox-close:hover{
	text-decoration: none;
}
.fancybox-close::after{
	content:'×';
	background:#fff;
	display:block;
	font-size:40px;
	color:#ccc;
	font-family:Arial,sans-serif;
	height:45px;
	border-radius:3px;
}
.just-the-tip{
	color:#999;
}
.detail{
	max-width:1100px;
	margin:auto auto;
}
.detail h2{
	border-bottom:1px solid #00aeef;
	padding-bottom:3%;
	margin-bottom:3%;
}
.detail-image img{
	height:100%;
	width:auto;
}
.detail-text{
	text-align: center;
	position:relative;
	display:block;
	z-index:1;
}
.detail-text::after{
	content: "";
	opacity: 0.2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index:-1;
	position: absolute;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.slideUp {
   width: 100%;
   height:0;
   -webkit-transition: height 2s;
   -moz-transition: height 2s;
   -o-transition: height 2s;
   transition: height 2s;
}
